<%- include("partials/header"); -%>

<div class="details">

  <h3><%= title %></h3>

  <div class="movie-details">

    <p>
      <span class="category">Description: </span> <span class="detail"><%= description %></span>
    </p>
    <p>
      <span class="category">Year: </span><span class="detail"><%= year %></span>
    </p>
    <p>
      <span class="category">Directors: </span> <span class="detail"><%= directors %></span>
    </p>
    <p>
      <span class="category">IMDB Rating: </span><span class="detail"><%= rating %></span>
    </p>


    <div class="thumbs-container">
      <div class="thumbs-div-float">

        <form action="/thumbsup" method="post">
          <!-- use inputs to send thumbs up data back to server -->
          <input type="hidden" name="movieIDup" value="<%= imdb_id %>"></input>
          <input type="hidden" name="movieTitleup" value="<%= title %>"></input>
          <input type="hidden" name="thumbsup" value="<%= thumbs_up %>"></input>

          <button class="thumbs-button" type="submit" name="thumbs-up" id="thumbsUp" onclick="this.form.submit()"><i class="thumbs fas fa-thumbs-up fa-2x" id="thumbs-up-img"></i></button>

          <!-- show thumbs up amount  -->
          <p>
            <%= thumbs_up %>
          </p>

        </form>
      </div>
      <div class="thumbs-div-float">

        <!-- use inputs to send thumbs down data back to server -->
        <form action="/thumbsdown" method="post">
          <input type="hidden" name="movieIDdown" value="<%= imdb_id %>"></input>
          <input type="hidden" name="movieTitledown" value="<%= title %>"></input>
          <input type="hidden" name="thumbsdown" value="<%= thumbs_down %>"></input>


          <button class="thumbs-button" type="submit" name="thumbs-down" id="thumbsDown" onclick="this.form.submit()"><i class="thumbs fas fa-thumbs-down fa-2x" id="thumbs-down-img"></i></button>
          <!-- show thumbs down amount  -->
          <p>
            <%= thumbs_down %>
          </p>

        </form>
      </div>

    </div>
      <p>
          <a href="/">Back to Search</a>
        </p>
      <form action="/found" method="post">
        <!-- send movie title back to server  -->
        <input type="hidden" name="movieTitle" value="<%=movieTitle%>">
        <button class="back-to-search" type="submit">Back to Results</button>

      </form>

  </div>

</div>

<script>

  //get the thumbs up and thumbs down amount
  var thumbsUpAmt = <%= thumbs_up %>;
  var thumbsDownAmt = <%= thumbs_down %>;

  //get the image elements for thumbs up and thumbs down
  var thumbsUp = document.getElementById("thumbs-up-img");
  var thumbsDown = document.getElementById("thumbs-down-img");

  //if thumbs up amount is greater than thumbs down amount, change the thumbs up
  //to green
  //else if thumbs down is greater than thumbs up amount, change the thumbs down
  //to red
  if(thumbsUpAmt > thumbsDownAmt){
    thumbsUp.style.color = "green";
  } else if (thumbsUpAmt < thumbsDownAmt){
    thumbsDown.style.color = "red";
  }


</script>

<%- include("partials/footer"); -%>
