<%- include("partials/header"); -%>

<div class="search-results">

  <% for(var i = 0; i < movieIDs.length; i++){ %>
    <p>
      <%= movieIDs[i].title %>, <%= movieIDs[i].year %>, <a href="/found/<%=movieIDs[i].id%>">View More</a>
      </p>
  <% } %>



  <p>
    <a href="/">Back to Search</a>
    </p>

</div>


<%- include("partials/footer"); -%>
